.presentation-info__mobile{
  display: none;
}

.footer-mobile{
  display: none;
}

.header_menu_order_btn{
  display: none;
}

.second-decode{
  display: none;
}

.equipment__items{
  gap: 0.225rem;
}

.tabs-block__image-block{
  border: none;
}

.record__video{
  border: none;
}

.presentation-info__item{
  font-weight: 300;
}

.equipment__text p{
  font-weight: 400;
}

.main-section__content{
  height: 80vh;
}

.main-section__gradient{
  height: 139%;
}

.item-format__description ul li::before{
  top: 10px;
}

.presentation-video{
  margin-top: 150px;
}

.main-section__content::before {
  height: 55vw;
  margin-top: -25vh;
}

.marquee{
  margin-top: 4.125rem;
}

.main-section{
  height: 80vh;
}

.main-section__circle{
  height: 80vh;
  margin-top: 0;
}

.tabs-block__items{
  padding: 1.875rem 1.9375rem;
}

.packages__price span{
  margin-left: 0;
}

.main-section__wrapper{
  padding: 0;
}

.header__container{
  padding: 0 2.9375rem;
}

.text-uppercase{
  text-transform: uppercase;
}

.marquee-content{
  min-width: 70%;
}

.white-color{
  color: white;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* или любой цвет фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.tabs-block__item:nth-child(6){
  -webkit-transform: translate(0, -100px);
  transform: translate(0, -100px)
}

.tabs-block__item:nth-child(5){
  -webkit-transform: translate(0, -80px);
  transform: translate(0, -80px)
}

.tabs-block__item:nth-child(4){
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px)
}

.tabs-block__item:nth-child(3){
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px)
}

.tabs-block__item:nth-child(2){
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px)
}

.record__content{
  max-width: 100%;
}

.presentation-info__termin img{
  max-width: 120px;
}

.footer__phone{
  font-size: 2.75rem !important;
  color: #fff;
  font-family: Furore;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}

.item-format__header{
  justify-content: space-between;
}

.header-mobile-block{
  display: none;
}

.presentation-video__title{
  display: none;
  text-align: center;
  position: relative;
  color: #fff;
  font-family: Furore;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  will-change: transform;
  font-size: 2.5rem;
}

.booking svg{
  display: none;
}

.arrows-mobile__left, .arrows-mobile__left{
  display: none;
}

.presentation-marquees{
  display: none;
}

.show-mobile{
    display: none;
}

.hidden-mobile{
  display: block;
}

@media (min-width: 64em) {
  .equipment__content {
    max-width: 39.125rem;
  }
}

@media (min-width: 101.875em) {
  .record {
    padding-top: 7.625rem;
  }
  /*.main-section__content::before{*/
  /*  position: relative;*/
  /*  top: 10vh;*/
  /*}*/

  /*.loaded .main-section__video-pc {*/
  /*  padding-top: 25vh;*/
  /*}*/
}

@media (max-width: 768px) {
  .menu-open .menu__body{
    background-color: rgba(0, 0, 0, 0.9);
  }

  .menu-open .menu__body::before{
    width: 90%;
  }

  .menu__body{
    width: 90%;
  }

  .footer__get{
    order: 1;
    margin-top: 60px;
  }

  .footer__container{
    padding-bottom: 0;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-mobile{
    display: block;
  }

  .footer__bottom{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer__bottom a{
    font-size: 14px;
  }

  .footer__bottom p{
    margin-top: 20px;
  }

  .footer-blocks{
    display: flex;
    flex-direction: column;
  }

  .footer__container_mobile{
   padding: 10px 15px;
  }

  .footer-pc{
    display: none;
  }

  .footer__links{
    flex-direction: column;
    align-items: baseline;
  }

  .presentation-info__phrase{
    margin-bottom: 50px;
  }

  .presentation-info__title{
    text-align: center;
  }

  .presentation-info__termin span{
    display: none;
  }

  .presentation-info__pc{
     display: none;
  }

  .presentation-info__mobile{
    display: block;
  }

  .projects{
    padding-bottom: 30px;
  }

  .projects__container .booking{
    display: none;
  }

  .second-decode{
    display: block;
    top: 0 !important;
    height: 116%;
  }

  .packages__decore{
    top: -57%
  }

  .packages__info{
    padding: 15px;
  }

  .show-mobile{
    display: block;
  }

  .hidden-mobile{
    display: none;
  }
  .presentation-video__container{
    padding-top: 0;
    background: #141414;
  }
  .presentation-info__items{
    display: none;
  }
  .presentation-info__content {
    width: 100%;
  }
  .presentation-marquees {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
  }

  .marquee-row {
    overflow: hidden;
    width: 100%;
  }

  .marquee-track {
    display: flex;
    width: fit-content;
  }

  .marquee-group {
    display: flex;
    gap: 40px;
    margin-left: 50px;
  }

  .presentation-info__item {
    white-space: nowrap;
    flex-shrink: 0;
  }

  /* Анимации */
  .marquee-left .marquee-track {
    animation: scroll-left 20s linear infinite;
  }

  .marquee-right .marquee-track {
    animation: scroll-right 25s linear infinite;
  }

  @keyframes scroll-left {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  @keyframes scroll-right {
    0%   { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }


  .presentation-video__container .booking{
    margin-top: 150px !important;
  }
  .booking svg{
    display: block;
    margin-left: 25px;
  }

  .equipment__title:not(:last-child), .equipment__items, .equipment__text, .equipment__actions{
    padding: 20px;
  }

  .equipment__items, .equipment__text, .equipment__actions{
    padding: 0 20px;
  }

  .equipment__wrapper
{
    background: radial-gradient(
            circle,
            rgba(19, 25, 135, 1),
            rgba(17, 22, 109, 1),
            rgba(16, 19, 85, 1),
            rgba(17, 24, 50, 1)
    );
    border-radius: 1.25rem;
  margin: 10px;
  border: 1px solid;
}

  .equipment__mobile-image img {
    position: relative;

    mask-image:
            linear-gradient(to top, black 85%, transparent 100%), /* плавный fade только внизу */
            linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%); /* узкие боковые fade */

    -webkit-mask-image:
            linear-gradient(to top, black 85%, transparent 100%),
            linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);

    mask-composite: intersect;
    -webkit-mask-composite: destination-in;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  .equipment__mobile-image{
    aspect-ratio: auto;
    margin-top: 50px;
  }

  .projects__navigation{
    justify-content: space-between;
    margin-top: 20px;
  }

  .projects__right svg:first-of-type {
   display: none;
  }

  .projects__left svg:first-of-type {
    display: none;
  }

  .arrows-mobile__left, .arrows-mobile__left{
    display: block;
  }

  .packages__number {
    margin-left: -40px;
  }

  .item-format__description{
    word-break: unset;
  }

  .about__slide.swiper-slide-active .about__item  {
    background-color: #0049ff;
  }

  .about__slide:not(.swiper-slide-active) .about__item{
    background-color: inherit;
  }

  .booking{
    width: 290px !important;
    height: 60px !important;
    border-radius: unset;
    margin: 0 auto;
    margin-top: 30px !important;
  }

  .booking .text-wrap .text{
    display: flex;
    font-size: 18px;
    font-weight: 500;
  }

  .booking .text-wrap::before{
    display: none;
  }

  .presentation-video{
    margin-top: 250px;
  }
  .presentation-video__title{
    display: block;
    transition: font-size 0.3s ease, transform 0.3s ease;
    will-change: font-size, transform;
  }

  .presentation-video__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .presentation-video__title {
    transform-origin: center center;
    will-change: transform;
  }

  .presentation-video__video{
    margin-top: 200px;
  }

  .presentation-video__title.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 20px;
    z-index: 1000;
  }

  .header-mobile-block{
    display: block;
    margin-top: 20px;
  }

  .header-mobile-block .footer__tg{
    margin-bottom: 10px;
  }

  .header-mobile-main{
    display: block;
    margin-top: 50px;
  }

  .header-mobile-text{
    display: block;
    color: white;
    font-size: 18px;
  }

  .header-mobile-title{
    font-size: 18px;
    font-weight: 400;
    color: white;
    opacity: 0.5;
    padding-bottom: 10px;
    display: inline-block;
  }

  .header_menu_order_btn{
    display: block;
    background: #0049FF;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    border-radius: 4px;
  }
  .header_menu_order_btn a{
    display: flex;
    text-transform: none !important;
    color: white !important;
  }
  .header_menu_order_btn a svg{
    margin-left: 20px;
  }
  .tabs-block__item {
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  .footer__contact-item a{
    font-size: 20px !important;
  }

}

@media (min-width: 20em) and (max-width: 101.875em) {
  .record {
    padding-top: clamp(6.25rem, 2.7385496183rem + 2.557252vw, 20.625rem);
  }
}

@media (max-width: 132.5em) {
  .main-section__content::before {
    height: 60vw;
    margin-top: -20vh;
  }
}

@media (max-width: 100em) {
  .main-section__content::before {
    height: 75vw;
    margin-top: -20vh;
  }
}

@media (min-width: 80em) {
  .item-format__price {
    font-size: 0.125rem;
  }
}

@media (min-width: 64em) {
  .footer__get .booking {
    position: absolute;
    top: 220%;
    right: 0;
    margin-left: auto;
  }
}

@media (min-width: 61.9375em) {
  .formats {
    padding-bottom: 1.125rem;
  }
}

@media (max-width: 78.75em) {
  .main-section__content::before {
    height: 110vw;
    margin-top: -20vh;
  }
}

@media (max-width: 61.9375em) {
  .main-section__content::before {
    height: 150vw;
  }
}

@media (max-width: 50.625em) {
  .main-section__content::before {
    height: 190vw;
    margin: 0 auto;
  }
  .main-section__content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 62em) {
  .record__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }
}