.tabs-block__item:nth-child(6){
  -webkit-transform: translate(0, -100px);
  transform: translate(0, -100px)
}

.tabs-block__item:nth-child(5){
  -webkit-transform: translate(0, -80px);
  transform: translate(0, -80px)
}

.tabs-block__item:nth-child(4){
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px)
}

.tabs-block__item:nth-child(3){
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px)
}

.tabs-block__item:nth-child(2){
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px)
}

.record__content{
  max-width: 100%;
}

.presentation-info__termin img{
  max-width: 120px;
}

@media (min-width: 101.875em) {
  .record {
    padding-top: 7.625rem;
  }
  .main-section__content::before{
    position: relative;
    top: 10vh;
  }

  .loaded .main-section__video-pc {
    padding-top: 30vh;
  }
}

@media (max-width: 768px) {
  .tabs-block__item {
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
}
