.equipment__items{
  gap: 0.225rem;
}

.tabs-block__image-block{
  border: none;
}

.record__video{
  border: none;
}

.presentation-info__item{
  font-weight: 300;
}

.equipment__text p{
  font-weight: 400;
}

.main-section__content{
  height: 80vh;
}

.main-section__gradient{
  height: 139%;
}

.item-format__description ul li::before{
  top: 10px;
}

.presentation-video{
  margin-top: 150px;
}

.main-section__content::before {
  height: 55vw;
  margin-top: -25vh;
}

.marquee{
  margin-top: 4.125rem;
}

.main-section{
  height: 80vh;
}

.main-section__circle{
  height: 80vh;
  margin-top: 0;
}

.tabs-block__items{
  padding: 1.875rem 1.9375rem;
}

.packages__price span{
  margin-left: 0;
}

.main-section__wrapper{
  padding: 0;
}

.header__container{
  padding: 0 2.9375rem;
}

.text-uppercase{
  text-transform: uppercase;
}

.marquee-content{
  min-width: 70%;
}

.white-color{
  color: white;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* или любой цвет фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.tabs-block__item:nth-child(6){
  -webkit-transform: translate(0, -100px);
  transform: translate(0, -100px)
}

.tabs-block__item:nth-child(5){
  -webkit-transform: translate(0, -80px);
  transform: translate(0, -80px)
}

.tabs-block__item:nth-child(4){
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px)
}

.tabs-block__item:nth-child(3){
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px)
}

.tabs-block__item:nth-child(2){
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px)
}

.record__content{
  max-width: 100%;
}

.presentation-info__termin img{
  max-width: 120px;
}

.footer__phone{
  font-size: 2.75rem !important;
  color: #fff;
  font-family: Furore;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}

.item-format__header{
  justify-content: space-between;
}

@media (min-width: 64em) {
  .equipment__content {
    max-width: 39.125rem;
  }
}

@media (min-width: 101.875em) {
  .record {
    padding-top: 7.625rem;
  }
  /*.main-section__content::before{*/
  /*  position: relative;*/
  /*  top: 10vh;*/
  /*}*/

  /*.loaded .main-section__video-pc {*/
  /*  padding-top: 25vh;*/
  /*}*/
}

@media (max-width: 768px) {
  .tabs-block__item {
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  .footer__contact-item a{
    font-size: 30px !important;
  }

}

@media (min-width: 20em) and (max-width: 101.875em) {
  .record {
    padding-top: clamp(6.25rem, 2.7385496183rem + 2.557252vw, 20.625rem);
  }
}

@media (max-width: 132.5em) {
  .main-section__content::before {
    height: 60vw;
    margin-top: -20vh;
  }
}

@media (max-width: 100em) {
  .main-section__content::before {
    height: 75vw;
    margin-top: -20vh;
  }
}

@media (min-width: 80em) {
  .item-format__price {
    font-size: 0.125rem;
  }
}

@media (min-width: 64em) {
  .footer__get .booking {
    position: absolute;
    top: 220%;
    right: 0;
    margin-left: auto;
  }
}

@media (min-width: 61.9375em) {
  .formats {
    padding-bottom: 1.125rem;
  }
}

@media (max-width: 78.75em) {
  .main-section__content::before {
    height: 110vw;
    margin-top: -20vh;
  }
}

@media (max-width: 61.9375em) {
  .main-section__content::before {
    height: 150vw;
  }
}

@media (max-width: 50.625em) {
  .main-section__content::before {
    height: 190vw;
    margin: 0 auto;
  }
  .main-section__content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 62em) {
  .record__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }
}